NODE_ENV_ALT=dev
NODE_ENV=dev
PORT=8001
# MONGODB_URL=mongodb+srv://config:config@cluster.ix0ytib.mongodb.net/sentineldb
# MONGODB_URL='cluster.ix0ytib.mongodb.net'
# MONGODB_DB=sentinel
# MONGODB_USERNAME=config
# MONGODB_PASSWORD=config
# MONGODB_AUTH_DB=admin
CONSUL_HOST=34.132.98.42
CONSUL_PORT=8500
CONSUL_TOKEN='b74c7d3f-5f39-f33c-612c-e2ee243bed5f'
MONGODB_URL='localhost:40003'
MONGODB_DB=sentinel
MONGODB_USERNAME='Administrator'
MONGODB_PASSWORD=''
MONGODB_AUTH_DB=admin
FIREBASE_SERVICE_KEY_LOCATION="./firebase-service-account-dev.json"
# FIREBASE_SERVICE_KEY_LOCATION="./firebase-service-account-dev"
# ELASTIC_APM_SERVICE_NAME='eas-local'
# ELASTIC_APM_SERVER_URL='http://34.132.21.164:8200'
FIREBASE_APIKEY='AIzaSyBXprkSsdWnA8Ks9HJ7XAjAvt9bcO_iAkQ'
FIREBASE_URL='https://identitytoolkit.googleapis.com/v1'
FIREBASE_REFRESH_TOKEN_URL='https://securetoken.googleapis.com/v1'
DEV_TOKEN='ABCXYZ'
AUTH_SERVICE_URL='http://localhost:8001/api/v1/auth'
NODE_ENV_ALT='local'
DOMAIN_PROXY='dev-sentinel-api.stylifashion.com'
# has context menu
#  epsilon properties
EPSILON_BASE_URL= 'http://styliproxy.com:8081' 
EPSILON_AUTH_KEY = 'V0VCQVBJX0tFWTp5MlJFa182bV9F'
EPSILON_GRANT_TYPE = 'password'
EPSILON_USERNAME = 'LMG_API_USER'
EPSILON_PASSWORD = 'L@ndmark12#'
EPSILON_RESPONSE_TYPE = 'token'

# redis config properties
REDIS_URL='localhost'
REDIS_PORT=6379
REDIS_AUTH=
