<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Order failed</title>
</head>

<body style="text-align: right;">

  <table style="width:100%">
    <tr>
      <td style="background:#EEE; padding:30px;">
        <img style="display:block; height: 75px;" src="https://oms-ui-dev.web.app/assets/logos/logo.png" />
      </td>
    </tr>
    <tr>
    <td style="padding: 0 30px;">
        <p>هلا {{name}},</p>
        
        <p>!شكراً لتسوقك من ستايلي</p>

        <p>للأسف، يبدو أننا لم نتمكن من إتمام طلبيتك رقم #{{orderId}}، لا داعِ للقلق، المسألة بسيطة بالتأكيد.</p>
    
        <p>ندعوك للتحقق من بضعة أمور لحلها، يرجى إتمام الطلبية مرة أخرى و التأكد من التالي:</p>

            <p>١.التأكد من وجود مبلغ كافي في بطاقتك الإتمانية </p>
    
            <p>٢. التأكد من دفع اقساط {{paymentType}} المستحقة</p>
    
            <p> ٣. اذا كان لديك طلبات عديده تم دفعها باستخدام {{paymentType}}، من الافضل إغلاق بعض منها</p>
    
            <p> ٤. تأكد من استخدام بطاقة خصم أو بطاقة إئتمانية من {{country}}</p>
    
        <p>عادة ما تضع {{paymentType}} في الاعتبار عدة عوامل قبل الموافقة على عملية الشراء، لذا يرجى التواصل مع {{paymentType}} للحصول على المزيد من المساعدة.</p>
    </td>
    </tr>
   
  </table>
</body>

</html>