<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Credit Memo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    body {
        font-family: 'Arial', sans-serif; /* Replace 'Arial' with your chosen Arabic font */
    }
    </style>
  </head>

  <body>
    <table width="100%" border="0" cellpadding="6" cellspacing="0" dir="rtl">
      <tbody>
        <tr>
          <td style="text-align: center" width="50%">
            <div
              style="
                font-size: 23px;
                color: #575757;
                float: right;
                margin-top: 15px;
              "
            >
              {{data.creditheadingar}}
            </div>
          </td>
          <td style="font-size: 25px; color: #575757" width="50%">
            <div style="float: left">{{{data.qrCode}}}</div>
            <div style="margin-bottom: 15px">
              <img
                src="https://oms-ui-dev.web.app/assets/logos/black.svg"
                width="75px"
                height="auto"
                style="display: block"
              />
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top" width="50%" style="font-size: 12px">
            رقم الإشعار الدائن : {{data.incrementId}}<br />
            تاريخ الاشعار الدائن : {{data.createdAt}}<br />
            رقم الفاتورة : {{data.invoice.increment_id}}<br />
            تاريخ الفاتورة : {{data.invoiceCreatedAt}}<br />
            {{data.headers.originalSupplyDate.ar}} : {{data.invoiceCreatedAt}}<br />
            {{data.headers.refundReason.ar}}<br />
          </td>
          <td valign="top" style="font-size: 12px">
            {{#each data.companyAddressAr}} {{{this}}} <br />
            {{/each}}
          </td>
        </tr>
        <tr style="line-height: 0.4cm">
          <td
            valign="top"
            width="50%"
            style="
              font-weight: bold;
              border-bottom: 4px none transparent;
              color: #575757;
              background-color: #f0f0f0;
            "
          >
            <strong>عنوان الفاتورة</strong>
          </td>
          <td
            valign="top"
            style="
              font-weight: bold;
              border-bottom: 4px none transparent;
              color: #575757;
              background-color: #f0f0f0;
            "
          >
            <strong>عنوان التسليم</strong>
          </td>
        </tr>
        <tr>
          <td valign="top" width="50%" style="font-size: 12px">
            {{data.shippingAddress.firstName}}
            {{data.shippingAddress.lastName}}<br />
            {{data.shippingAddress.streetAddress}}<br />
            {{data.shippingAddress.area}}<br />
            {{data.shippingAddress.city}} <br />
            {{data.shippingAddress.country}}<br />
            <span dir="ltr">{{data.shippingAddress.mobileNumber}}</span><br />
          </td>
          <td valign="top" style="font-size: 12px">
            {{data.shippingAddress.firstName}}
            {{data.shippingAddress.lastName}}<br />
            {{data.shippingAddress.streetAddress}}<br />
            {{data.shippingAddress.area}}<br />
            {{data.shippingAddress.city}} <br />
            {{data.shippingAddress.country}}<br />
            <span dir="ltr">{{data.shippingAddress.mobileNumber}}</span><br />
          </td>
        </tr>
        <tr style="line-height: 0.4cm">
          <td
            valign="top"
            width="50%"
            style="
              font-weight: bold;
              border-bottom: 4px none transparent;
              color: #575757;
              background-color: #f0f0f0;
            "
          >
            <strong>طريقة الدفع</strong>
          </td>
          {{#if data.rmaTrackingNumber}}
          <td
            valign="top"
            style="
              font-weight: bold;
              border-bottom: 4px none transparent;
              color: #575757;
              background-color: #f0f0f0;
            "
          >
            <strong>طريقة الشحن</strong>
          </td>
          {{/if}}
        </tr>
        <tr>
          <td valign="top" width="50%" style="font-size: 12px">
            <span>{{data.paymentModeAr}}</span>
            <span>{{data.ccType}}</span>
            <span>{{data.ccNumber}}</span>
          </td>
          {{#if data.rmaTrackingNumber}}
          <td valign="top" width="50%" style="font-size: 12px">
            {{data.rmaTrackingCode}} : {{data.rmaTrackingNumber}}
          </td>
          {{/if}}
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <div
      style="
        /* background-color: #f0f0f0; */
        float: right;
        color: #575757;
        font-weight: bold;
      "
    >
      {{data.currencyText.ar}}
    </div>

    <table width="100%" border="1" cellspacing="0" cellpadding="2"  dir="rtl">
      <thead>
        <tr style="line-height: 0.4cm" nobr="true">
          <th align="center" width="10.363636363636%">
            <strong style="font-size: 5px"
              >{{data.headers.itemCode.ar}}</strong
            >
          </th>
          <th align="center" width="20.181818181818%">
            <strong style="font-size: 5px"
              >{{data.headers.productName.ar}}</strong
            >
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 5px"
              >{{data.headers.unitPriceExclVat.ar}}</strong
            >
          </th>
          <th align="center" width="3.909090909091%">
            <strong style="font-size: 5px">{{data.headers.qty.ar}}</strong>
          </th>
          <th align="center" width="12.909090909091%">
            <strong style="font-size: 5px"
              >{{data.headers.subtotalExclVat.ar}}</strong
            >
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 5px"
              >{{data.headers.discountExclVat.ar}}</strong
            >
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 5px"
              >{{data.headers.taxableAmount.ar}}</strong
            >
          </th>
          <th align="center" width="3.909090909091%">
            <strong style="font-size: 5px">{{data.headers.vatRate.ar}}</strong>
          </th>
          <th align="center" width="8.909090909091%">
            <strong style="font-size: 5px"
              >{{data.headers.vatAmount.ar}}</strong
            >
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 5px"
              >{{data.headers.totalPayable.ar}}</strong
            >
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each data.items}}
        <tr nobr="true" style="padding-top: 4mm" bgcolor="">
          <td align="left" width="10.363636363636%">
            <p style="font-size: 10px">{{this.sku}}</p>
          </td>
          <td align="center" width="20.181818181818%">
            <p style="font-size: 10px">{{this.name}}</p>
          </td>
          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.unitPriceExclTax}}</p>
          </td>
          <td align="center" width="3.909090909091%">
            <p style="font-size: 10px">{{this.qty}}</p>
          </td>
          <td align="center" width="12.909090909091%">
            <p style="font-size: 10px">{{this.subTotalExclTax}}</p>
          </td>

          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.discountExclTaxProduct}}</p>
          </td>
          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.taxablePriceProduct}}</p>
          </td>
          <td align="center" width="3.909090909091%">
            <p style="font-size: 10px">{{this.taxPercent}}</p>
          </td>
          <td align="center" width="8.909090909091%">
            <p style="font-size: 10px">{{this.totalTaxAmountProduct}}</p>
          </td>
          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.totalPriceInclTaxProduct}}</p>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- TOTALS -->
    <table nobr="true" width="100%" border="" cellpadding="10" cellspacing="0">
      <tbody>
        <tr style="">
          <td align="right" width="30%">{{data.headers.totalExclVat.ar}}</td>
          <td align="right" width="20%">{{data.zatcaTaxablePrice}}</td>
        </tr>

        <tr style="">
          <td align="right" width="10%">{{data.headers.vat.ar}}</td>
          <td align="right" width="10%">{{data.zatcaTaxAmount}}</td>
        </tr>
        <tr style="">
          <td align="right" width="30%">
            <strong>{{data.headers.totalPayable.ar}}</strong>
          </td>
          <td align="right" width="20%">
            <strong>{{data.zatcaTotalInclTax}}</strong>
          </td>
        </tr>
        {{#if data.roundingPayableAmount}}
        <tr style="">
          <td align="right" width="10%">{{data.headers.payableRounding.ar}}</td>
          <td align="right" width="10%">
            {{data.roundingPayableAmount}}
          </td>
        </tr>
        {{/if}}
        {{#if data.amstorecredit_amount}}
        <tr style="">
          <td align="right" width="30%">{{data.headers.styliCredit.ar}}</td>
          <td align="right" width="20%">{{data.amstorecredit_amount}}</td>
        </tr>
        {{/if}} {{#if data.easCoins}}
        <tr style="">
          <td align="right" width="30%">
            {{data.headers.styliCoins.ar}}({{data.easCoins}})
          </td>
          <td align="right" width="20%">-{{data.easValueInCurrency}}</td>
        </tr>
        {{/if}} {{#if data.shukranPoints}}
        <tr style="">
          <td align="right" width="30%">
            نقاط شكراً({{data.shukranPoints}})
          </td>
          <td align="right" width="20%">-{{data.shukranValueInCurrency}}</td>
        </tr>
        {{/if}}
        <tr style="">
          <td align="right" width="30%">
            <strong>{{data.headers.refundedAmount.ar}}</strong>
          </td>
          <td align="right" width="20%">
            <strong
              >{{data.order_currency_code}} {{data.zatcaRefundedAmount}}</strong
            >
          </td>
        </tr>
        {{#if data.isExcludeKsa}}
        <tr style="">
          <td align="right" width="30%"></td>
          <td align="right" width="20%">
            <strong>SAR {{data.base_zatcaRefundedAmount}}</strong>
            <div style="font-size: 8px; line-height: 100%; padding-top: 4px">
              ({{ data.headers.exchangeRate.ar }} :
              {{data.currencyConversionRate}}00)
            </div>
          </td>
        </tr>
        {{/if}}
      </tbody>
    </table>

    <!-- END TOTALS -->
    <br />
    <br />
    <!-- English starts here -->
    <p style="page-break-before: always"></p>
    <table width="100%" border="0" cellpadding="6" cellspacing="0">
      <tbody>
        <tr>
          <td style="text-align: center" width="50%">
            <div
              style="
                font-size: 23px;
                color: #575757;
                margin-top: 15px;
                float: left;
              "
            >
              {{data.creditheadingen}}
            </div>
          </td>
          <td style="font-size: 25px; color: #575757" width="50%">
            <div style="float: right">{{{data.qrCode}}}</div>
            <div style="margin-bottom: 15px">
              <img
                src="https://oms-ui-dev.web.app/assets/logos/black.svg"
                width="75px"
                height="auto"
                style="display: block"
              />
            </div>
          </td>
        </tr>

        <tr>
          <td valign="top" width="50%" style="font-size: 12px">
            {{data.creditheadingen}} No: {{data.incrementId}}<br />
            {{data.creditheadingen}} Date: {{data.createdAt}}<br />
            Original invoice No: {{data.invoice.increment_id}}<br />
            Original Invoice Date: {{data.invoiceCreatedAt}}<br />
            {{data.headers.originalSupplyDate.en}} : {{data.invoiceCreatedAt}}<br />
            {{data.headers.refundReason.en}}<br />
          </td>
          <td valign="top" style="font-size: 12px">
            {{#each data.companyAddressEn}} {{{this}}} <br />
            {{/each}}
          </td>
        </tr>
        <tr style="line-height: 0.4cm">
          <td
            valign="top"
            width="50%"
            style="
              font-weight: bold;
              border-bottom: 4px none transparent;
              color: #575757;
              background-color: #f0f0f0;
            "
          >
            <strong>Billing Address</strong>
          </td>
          <td
            valign="top"
            style="
              font-weight: bold;
              border-bottom: 4px none transparent;
              color: #575757;
              background-color: #f0f0f0;
            "
          >
            <strong>Shipping Address</strong>
          </td>
        </tr>
        <tr>
          <td valign="top" width="50%" style="font-size: 12px">
            {{data.shippingAddress.firstName}}
            {{data.shippingAddress.lastName}}<br />
            {{data.shippingAddress.streetAddress}}<br />
            {{data.shippingAddress.area}}<br />
            {{data.shippingAddress.city}} <br />
            {{data.shippingAddress.country}}<br />
            {{data.shippingAddress.mobileNumber}}<br />
          </td>
          <td valign="top" style="font-size: 12px">
            {{data.shippingAddress.firstName}}
            {{data.shippingAddress.lastName}}<br />
            {{data.shippingAddress.streetAddress}}<br />
            {{data.shippingAddress.area}}<br />
            {{data.shippingAddress.city}} <br />
            {{data.shippingAddress.country}}<br />
            {{data.shippingAddress.mobileNumber}}<br />
          </td>
        </tr>
        <tr style="line-height: 0.4cm">
          <td
            valign="top"
            width="50%"
            style="
              font-weight: bold;
              border-bottom: 4px none transparent;
              color: #575757;
              background-color: #f0f0f0;
            "
          >
            <strong>Payment Mode</strong>
          </td>
          {{#if data.rmaTrackingNumber}}
          <td
            valign="top"
            style="
              font-weight: bold;
              border-bottom: 4px none transparent;
              color: #575757;
              background-color: #f0f0f0;
            "
          >
            <strong>Shipping Method</strong>
          </td>
          {{/if}}
        </tr>
        <tr>
          <td valign="top" width="50%" style="font-size: 12px">
            <span>{{data.paymentModeEn}}</span>
            <span>{{data.ccNumber}}</span>
            <span>{{data.ccType}}</span>
          </td>
          {{#if data.rmaTrackingNumber}}
          <td valign="top" width="50%" style="font-size: 12px">
            {{data.rmaTrackingCode}} : {{data.rmaTrackingNumber}}
          </td>
          {{/if}}
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <div
      style="
        /* background-color: #f0f0f0; */
        float: right;
        color: #575757;
        font-weight: bold;
      "
    >
      {{data.currencyText.en}}
    </div>
    <table width="100%" border="1" cellspacing="0" cellpadding="2">
      <thead>
        <tr style="line-height: 0.4cm" nobr="true">
          <th align="center" width="13.363636363636%">
            <strong style="font-size: 10px"
              >{{data.headers.itemCode.en}}</strong
            >
          </th>
          <th align="center" width="26.181818181818%">
            <strong style="font-size: 10px"
              >{{data.headers.productName.en}}</strong
            >
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 10px"
              >{{data.headers.unitPriceExclVat.en}}</strong
            >
          </th>
          <th align="center" width="5.909090909091%">
            <strong style="font-size: 10px">{{data.headers.qty.en}}</strong>
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 10px"
              >{{data.headers.subtotalExclVat.en}}</strong
            >
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 10px"
              >{{data.headers.discountExclVat.en}}</strong
            >
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 10px"
              >{{data.headers.taxableAmount.en}}</strong
            >
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 10px">{{data.headers.vatRate.en}}</strong>
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 10px"
              >{{data.headers.vatAmount.en}}</strong
            >
          </th>
          <th align="center" width="10.909090909091%">
            <strong style="font-size: 10px"
              >{{data.headers.totalPayable.en}}</strong
            >
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each data.items}}
        <tr nobr="true" style="padding-top: 4mm" bgcolor="">
          <td align="left" width="13.363636363636%">
            <p style="font-size: 10px">{{this.sku}}</p>
          </td>
          <td align="center" width="26.181818181818%">
            <p style="font-size: 10px">{{this.name}}</p>
          </td>
          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.unitPriceExclTax}}</p>
          </td>
          <td align="center" width="5.909090909091%">
            <p style="font-size: 10px">{{this.qty}}</p>
          </td>
          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.subTotalExclTax}}</p>
          </td>

          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.discountExclTaxProduct}}</p>
          </td>
          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.taxablePriceProduct}}</p>
          </td>
          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.taxPercent}}</p>
          </td>
          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.totalTaxAmountProduct}}</p>
          </td>
          <td align="center" width="10.909090909091%">
            <p style="font-size: 10px">{{this.totalPriceInclTaxProduct}}</p>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- TOTALS -->
    <table nobr="true" width="100%" border="" cellpadding="10" cellspacing="0">
      <tbody>
        <tr style="">
          <td align="right" width="30%">{{data.headers.totalExclVat.en}}</td>
          <td align="right" width="20%">{{data.zatcaTaxablePrice}}</td>
        </tr>

        <tr style="">
          <td align="right" width="10%">{{data.headers.vat.en}}</td>
          <td align="right" width="10%">{{data.zatcaTaxAmount}}</td>
        </tr>
        <tr style="">
          <td align="right" width="30%">
            <strong>{{data.headers.totalPayable.en}}</strong>
          </td>
          <td align="right" width="20%">
            <strong>{{data.zatcaTotalInclTax}}</strong>
          </td>
        </tr>
        {{#if data.roundingPayableAmount}}
        <tr style="">
          <td align="right" width="10%">{{data.headers.payableRounding.en}}</td>
          <td align="right" width="10%">
            {{data.roundingPayableAmount}}
          </td>
        </tr>
        {{/if}}
        {{#if data.amstorecredit_amount}}
        <tr style="">
          <td align="right" width="30%">{{data.headers.styliCredit.en}}</td>
          <td align="right" width="20%">{{data.amstorecredit_amount}}</td>
        </tr>
        {{/if}} {{#if data.easCoins}}
        <tr style="">
          <td align="right" width="30%">
            {{data.headers.styliCoins.en}}({{data.easCoins}})
          </td>
          <td align="right" width="20%">-{{data.easValueInCurrency}}</td>
        </tr>
        {{/if}} {{#if data.shukranPoints}}
        <tr style="">
          <td align="right" width="30%">
            Shukran Points({{data.shukranPoints}})
          </td>
          <td align="right" width="20%">-{{data.shukranValueInCurrency}}</td>
        </tr>
        {{/if}}
        <tr style="">
          <td align="right" width="30%">
            <strong>{{data.headers.refundedAmount.en}}</strong>
          </td>
          <td align="right" width="20%">
            <strong
              >{{data.order_currency_code}} {{data.zatcaRefundedAmount}}</strong
            >
          </td>
        </tr>
        {{#if data.isExcludeKsa}}
        <tr style="">
          <td align="right" width="30%"></td>
          <td align="right" width="20%">
            <strong>SAR {{data.base_zatcaRefundedAmount}}</strong>
            <div style="font-size: 8px; line-height: 100%; padding-top: 4px">
              ({{ data.headers.exchangeRate.en }} :
              {{data.currencyConversionRate}}00)
            </div>
          </td>
        </tr>
        {{/if}}
      </tbody>
    </table>
    <!-- END TOTALS -->
  </body>
</html>
