uploads/
reports/

.DS_Store*
Thumbs.db*
~*
tmp/
keys.json
node_modules/
.idea
package-lock.json
.env.development.local
.env
newrelic_agent.log
build/
migration_backup/
.history

migration/data
downloads/

migration/output
migration/transfer/results
*.zip

keys.json
bigquery-service-account.json

sitemaps/
bq-sync/
server/config/curofy-bigquery-dev.json

.vscode/
backend/node_modules
backend/.env
backend/firebase-service-account-dev.json
backend/package-lock.json
client/node_modules/
client/dist/
client/.firebase/
backend/.env.in
backend/yarn-error.log
client/.eslintcache
client/build/
client/yarn.lock
backend/src/config/firebase-service-account-dev.json
