.online {
    display: inline-block;
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: #1e8e3e;
  }

  .offline {
    display: inline-block;
    width: 10px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: gray;
  }

  .custom-checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: relative;
  }

  .custom-checkmark::before,
  .custom-checkmark::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #000;
  }

  .custom-checkmark::before {
    height: 6px;
    top: 50%;
    left: 6px;
    transform: rotate(45deg);
  }

  .custom-checkmark::after {
    height: 10px;
    top: 2px;
    left: 11px;
    transform: rotate(-45deg);
  }